.productCard {
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
}

.productCard img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.productBox h2 {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}

.productCard span {
    color: crimson;
}

.productBox p {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
}

.row_btn {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.row_btn a {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}

#btn_buy {
    background: rgb(253, 53, 186);
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}

#btn_view {
    background: black;
    text-transform: uppercase;
    color: white;
    margin-right: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
